/* paletas de color */

$primary_color : #88C426;

$secondary_color: #EF2D04;

$color1 : #CFF4D2;
$color2 : #7BE495;
$color3 : #56C596;
$color4 : #329D9C;
$color5 : #205072;
$color6 : #E1FDF6;
$color7 : #FFF;


/* para el botón blanco de crear entidad, login en el nav, y descargar*/
.button--white{
  background-color: #FFF;
  display: flex;
  width: 125px;
  height: 30px;
  padding: 7px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: $color5;
}

.button--white:hover{
  color: $secondary_color;
  outline: 2px solid $primary_color;
}